* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #FFBE00;
    text-align: left;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: #FF3F20;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #9F0052;
}

p {
    font-size: 0.9em;
    color: #443988;
}

.contenedor {
    display: flex;
    flex-flow: column nowrap;
}

.margen {
    padding: 20px 50px;
}

.boton {
    border-bottom: 1px solid #FF3F20;
    color: #D4471C;
}

/*HEADER CON FLEX*/
.header {
    display: flex;
    flex-flow: column nowrap;
}

.banner {
    background: url(img/bg-header.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: contain;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.logo {
    display: inline-flex;
}

/*ANIMACIÓN PUNTO DEL LOGO EN HEADER*/
.punto {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color: #FFBE00;
    align-self: center;
    animation-name: animacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacion {
    0% {
        background-color: #FFBE00;
        transform: translateX(0);
    }

    25% {
        background-color: #D4471C;
    }

    50% {
        background-color: #1CA6C3;
    }

    75% {
        background-color: #72AB80;
    }

    100% {
        background: #89B458;
        transform: translateX(100%);
        border-radius: 0%;
    }
}

.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.nav-menu {
    display: flex;
}

.nav a {
    color: #1d1d1b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 0 10px;
}

.nav a:hover {
    color: #52006A;
    background-color: rgba(127, 17, 224, .3);
    transition: 0, 5s;
}

.nav ul {
    list-style-type: none;
}


.bienvenida {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    height: 70vh;
    width: 50vw;
}

/*MAIN CON GRID*/
.contenedorgrid-full {
    display: grid;
    grid-template-columns: 33% 1fr 33%;
    grid-gap: 20px;
    grid-template-areas: "titulo titulo titulo"
        "bloque1 bloque2 bloque3"
        "titulo2 titulo2 titulo2"
        "descripcion imagen imagen"
        "titulo3 titulo3 titulo3"
        "servicio1 servicio2 servicio3";
}

.titulo {grid-area: titulo;}
.bloque1 {grid-area: bloque1;}
.bloque2 {grid-area: bloque2;}
.bloque3 {grid-area: bloque3;}
.titulo2 {grid-area: titulo2;}
.descripcion {grid-area: descripcion;}
.imagen {grid-area: imagen}
.titulo3 {grid-area: titulo3;}
.sevicio1 {grid-area: servicio1;}
.sevicio2 {grid-area: servicio2;}
.sevicio3 {grid-area: servicio3;}

.item-titulo {
    text-align: center;
    padding: 8vh 0;
    margin-top: 10vh;
}

.item-bloque {
    padding: 30px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 10px 10px 20px 1px rgba(68, 57, 136, .3);
    background-color: aliceblue;
}

.item-imagen {
    width: 100%;
    height: auto;
    text-align: right;
}

.item-descripcion {
    padding: 50% 0;
    text-align: left;
}

.item-servicio{
    padding-bottom: 10%;
    text-align: center;
    line-height: 50px;
}

.item-servicio h3{
    font-size: large;
    text-transform: uppercase;
}

.item-servicio ul{
    line-height: normal;
    list-style-type: none;
}

.contenedorgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "contenido contenido sidebar" "widget-1 widget-2 sidebar";
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

.contenedorgrid>div,
.contenedorgrid .sidebar,
.contenedorgrid .contenido {
    grid-area: contenido;
}

.contenedorgrid .sidebar {
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedorgrid .widget-1,
.contenedorgrid .widget-2 {
    background-color: #443988;
    color: #ffff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorgrid .widget-1 {
    grid-area: widget-1;
}

.contenedorgrid .widget-2 {
    grid-area: widget-2;
}

/*FOOTER CON FLEXBOX*/
.footer {
    display: flex;
    flex-flow: column nowrap;
    border-top: 1px solid #FF3F20;
    background-color: rgba(255, 118, 0, 0.1);
    margin-bottom: 5vh;
}

.nav-rrss {
    display: flex;
}

.nav-rrss a {
    color: #1d1d1b;
    font-family: 'Montserrat', sans-serif;
    /*font-size: 1em;*/
    font-weight: 900;
    padding: 0 10px;
}

.nav-rrss a:hover {
    color: #52006A;
}

.nav-footer ul {
    list-style-type: none;
}

/*PUNTO DE CONTROL*/
/*@media all and (max-width:768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-color: rgba(127, 17, 224, .8);
        top: 15vh;
        left: 0;
        position: fixed;
        width: 100%;
        padding: 3vh 0;
        height: 100%;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
  */
  /*3 PUNTOS DE CONTROL*/ 


  @media screen and (max-width: 1280px){
    .contenedor.contenido{
        grid-column: 1 / -1;
        width:100%;
    }   
    .contenedor .sidebar{
        grid-column: 1 / -1;
        width:30%;
    } 
    .contenedor .widget-1 {
        grid-column: span 2;
        width:100%;
    }
    .contenedor .widget-2 {
        grid-column: span 2;
        width:100%;
    }
    .contenedorgrid {
        grid-template-areas: "contenido contenido sidebar"
            "contenido contenido sidebar"
            "widget-1 widget-1 sidebar"
    }

}
  @media screen and (max-width: 768px) {
    .contenedor.contenido{
        grid-column: 1 / -1;
        width:100%;
    }   
    .contenedor .sidebar{
        grid-column: 1 / -1;
        width:100%;
    } 
    .contenedor .widget-1 {
        grid-column: span 2;
        width:100%;
    }
    .contenedor .widget-2 {
        grid-column: span 2;
        width:100%;
    }
    .contenedorgrid {
        grid-template-areas: "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "widget-1 widget-1 widget-2"
    }

}
@media screen and (max-width: 480px) {
    .contenedor.contenido{
        width:100%;
    }   
    .contenedor .sidebar{
        display: none;
    } 

    .contenedorgrid {
        grid-template-areas: "contenido contenido contenido"
            "sidebar sidebar sidebar"
            "widget-1 widget-1 widget-2"
    }


}

    .nav-toggle {
        display: block;
        font-size: 1.5em;
    }

    .nav-menu-visible {
        left: 0;
    }

    .nav a {
        font-size: 2em;
    }

    .nav a:hover {
        background-color: none;
        color: #FF3F20;
    }

    .bienvenida {
        width: 80vw;
    }

    .contenedorgrid-full {
        grid-template: repeat(12, auto) / 100%;
        grid-template-areas: "titulo" "bloque1" "bloque2" "bloque3" "titulo2" "descripcion"
            "imagen" "titulo3" "servicio1" "servicio2" "servicio3";
    }

    .item-descripcion {
        padding: 5%;
    }
