h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    color: #FFBE00;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: #FF3F20;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: #9F0052;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    color: #443988;
}

a {
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: #9F0052;
    text-decoration: none;
}
.header{
    float: left;
}
.menu{
    display: flex;
    justify-content: center;

}
.menu > div{
    margin: 10px;
    padding: 20px;
}

.menu a:link {
    color: #9F0052;
}
.menu a:hover {
    color: #FF3F20;
}

.footer{
    display: flex;
}

.contenedor{
    width: 90%
    max-content 1000px
    margin: 20px auto;
}