h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    color: #FFBE00;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: #FF3F20;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: #9F0052;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    color: #443988;
}

a {
    font-family: 'DM Sans', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    color: #9F0052;
    text-decoration: none;
}
.header{
    float: left;
}
.menu{
    display: flex;
    justify-content: center;

}
.menu > div{
    margin: 10px;
    padding: 20px;
}

.menu a:link {
    color: #9F0052;
}
.menu a:hover {
    color: #FF3F20;
}

.footer{
    display: flex;
}
  
.contenedor {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "header header header"
                         "menu menu menu"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "footer footer footer"

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background-color: #FF3F20;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header {
    background-color: #FF3F20;
    color: #ffff;
    grid-area: header;
}

.contenedor .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .contenido {
    grid-area: contenido;
}
.contenedor .sidebar{
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: #443988;
    color: #ffff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1 {
    grid-area: widget-1;
}
.contenedor .widget-2 {
    grid-area: widget-2;
}

.contenedor .footer {
    background-color: #FFBE00;
    color: #ffff;
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas: "header header header"
        "menu menu menu"
        "contenido contenido contenido"
        "sidebar sidebar sidebar"
        "widget-1 widget-1 widget-2"
        "footer footer footer"
    }   
  
}


