<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Micaela Wagner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Montserrat:wght@700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b4c89b0a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="estilos.css">
    <script defer src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="contenedor">
        <header class="header margen banner">
            <div class="menu">
                <div class="logo">
                    <span><a href="index.html"><img src="img/Logo.png" width="120vh"
                                alt="Logo Micaela Wagner"></a></span>
                    <span class="punto"></span>
                </div>

                <button class="nav-toggle">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <nav class="nav">
                    <ul class="nav-menu">
                        <li class="nav-menu-item"><a href="index.html">Inicio</a></li>
                        <li class="nav-menu-item"><a href="portfolio.html">Portfolio</a></li>
                        <li class="nav-menu-item"><a href="acerca-de.html">Acerca de</a></li>
                        <li class="nav-menu-item"><a href="contacto.html">Contacto</a></li>
                        <li class="nav-menu-item"><a href="pokemon.html">Pokemon</a></li>
                    </ul>
                </nav>
            </div>

            <div class="bienvenida">
                <div>
                    <h1>Hola!</h1>
                </div>
                <div>
                    <h3>Soy Micaela, una apasionada del diseño para metaverso</h3>
                </div>
            </div>
        </header>

        <main class="contenedorgrid-full margen">
            <div class="item-titulo titulo">
                <h2>¡Trabajemos Juntos!</h2>
            </div>

            <div class="item-bloque bloque1">
                <iframe src="https://embed.lottiefiles.com/animation/46776" frameborder="0"></iframe>
                <h4>Conversamos</h4>
                <p>Te escucho, aprendo, presupuesto y si estas de acuerdo establecemos metas
                <p>
            </div>

            <div class="item-bloque bloque2">
                <iframe src="https://embed.lottiefiles.com/animation/68657" frameborder="0"></iframe>
                <h4>Diseñamos</h4>
                <p>Pienso (mucho) y convierto en simple lo complejo</p>
            </div>

            <div class="item-bloque bloque3">
                <iframe src="https://embed.lottiefiles.com/animation/48594" frameborder="0"></iframe>
                <h4>Disfrutalo</h4>
                <p>Hacemos realidad tu experiencia en Metaverso</p>
            </div>

            <div class="item-titulo titulo2">
                <h2>Proyecto Más Reciente</h2>
            </div>

            <div class="item-descripcion descripcion">
                <h3>Soul Fox Gaming</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae vero similique eaque praesentium
                    explicabo quia molestias, ea eum, corrupti sit molestiae unde dolorum reiciendis corporis, sint at
                    iusto voluptatibus voluptate maxime dicta odio quas? Reiciendis fugit quos minus doloremque aliquam
                    ipsam atque quis, sit vero, deleniti harum, officiis hic illum?</p>
                <a class="boton" href="portfolio.html">Más información</a>
            </div>

            <div class="item-imagen imagen">
                <img src="img/proyecto-reciente.jpg" alt="Imagen de Fox Gaming" width="100%">
            </div>

            <div class="item-titulo titulo3">
                <h2>Otros Servicios</h2>
            </div>

            <div class="item-servicio servicio1">
                <i class="fa-solid fa-street-view fa-2xl"></i>
                <h3>Experiencia Inmersiva</h3>
                <ul>
                    <li>Desarrollo</li>
                    <li>VR, AR, XR</li>
                </ul>
                <a class="boton" href="contacto.html">Más información</a>
            </div>
            <div class="item-servicio servicio2">
                <i class="fa-solid fa-gamepad fa-2xl"></i>
                <h3>Juegos</h3>
                <ul>
                    <li>Prototipado</li>
                    <li>Desarrollo</li>
                </ul>
                <a class="boton" href="contacto.html">Más información</a>
            </div>
            
            <div class="item-servicio servicio3">
                <i class="fa-solid fa-user-clock fa-2xl"></i>
                <h3>Gemelos Digitales</h3>
                <ul>
                    <li>Gemelo digital</li>
                    <li>Digital Twins</li>
                </ul>
                <a class="boton" href="contacto.html">Más información</a>
            </div>

            <div id="app">
                <h1>Listado de Precio de Bitcoin</h1>
                <P>Actualizado: {{time}}</P>
                
                <section v-if="errored">
                  <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente mas tarde</p>
                </section>
              
                <section v-else>
                  <div v-if="loading">Cargando...</div>
              
                  <div v-else v-for="currency in info"
                    class="currency"
                  >
                    {{ currency.description }}:
                    <span class="lighten">
                      <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
                    </span>
                  </div>
              
                </section>
              </div>
              
        </div>
        <script src="api1.js"></script>

        </main>

        <footer class="footer margen">
            <div>
                <h2>Contacto</h2>
            </div>
            <nav class="nav-footer">
                <ul class="nav-rrss">
                    <li><a href="#">Behance</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>